body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Digital-7', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 'center';
}

.hidden {
    display: none;
}

#clock {
  font-family: 'Digital-7 Mono', sans-serif;
  font-size: 140px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#login-form {
  align-items: center;
}

#login-form input[type="text"] {
  width: 320px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  font-size: 32px;
  color: inherit;
  border-bottom-color: inherit;
}

#login-form input[type="submit"] {
  padding: 10px;
  margin-left: 10px;
  border: 2px solid;
  border-color: inherit;
  background: transparent;
  font-size: 20px;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
}

#greeting {
  align-items: center;
  font-family: 'Digital-7 Mono', sans-serif;
  font-size: 44px;
}

#todo-form {
  position: absolute;
  top: 35%;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form input[type="text"] {
  width: 240px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  font-size: 16px;
  color: inherit;
  border-bottom-color: inherit;
}

#todo-list {
  position: absolute;
  top: 40%;
  right: 30px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

#todo-list li button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 12px;
}

#weather {
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: center;
}

#quote {
  font-family: 'Digital-7 Italic', sans-serif;
  font-size: 1.2em;
  position: absolute;
  bottom: 20px;
  width: 60%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#quote-text {
  display: block;
  margin-bottom: 5px;
}
